<!-- STYLES -->

<style>


    * {
        margin: 0px;
        padding: 0px;
        border: none;
        overflow-x: hidden;
        box-sizing: border-box;
        all: none;
    }

    .main-container
    {
        background-image: url("https://media.istockphoto.com/id/675020930/photo/textured-dark-vignette-black-background.jpg?b=1&s=170667a&w=0&k=20&c=nBSWubcuVC-VcrpXgtD4k1eIM_E2edMH9v7oJAqkCWo=");
        background-image: no-repeat;
        background-position: center;
        background-size: cover;

        color: white;

        /* border: 2px solid red; */
    }

    .song-container
    {
        /* border: 2px solid green; */

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .image-sec
    {
        width: auto;
        height: 100%;

        border: 2px solid red;

        margin: 50px;
        margin-right: 100px;

        border-radius: 20px;
        box-shadow: 2px 2px 14px rgb(0, 0, 0);


        border-top: 1px solid rgba(255, 255, 255, 0.742);
        border-left: 1px solid rgba(255, 255, 255, 0.743);
        border-right: 1px solid rgba(163, 161, 161, 0.743);
        border-bottom: 1px solid rgba(180, 177, 177, 0.743);
    }

    .image-sec > img
    {
        width: 350px;
        height: 350px;

    }
    
    .text-sec
    {
        width: 400px;
        height: 600px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        /* border: 2px solid red; */
    }

    .song-name
    {
        /* border: 2px solid red; */
        /* padding: 50px; */
        padding-bottom: 60px;

        font-size: 1.5rem;

        font-family: "Roboto" , sans-serif ;
        text-decoration: none;
        color: white;

        text-shadow: 1px 1px 1px rgb(36, 36, 36);
    }

    .button-song
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        color: white;

    }

    .btn-song
    {
        margin: 10px;
        padding: 5px;

        width: 150px;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        font-family: "Roboto" , sans-serif ;

        border-top: 1px solid rgba(255, 255, 255, 0.742);
        border-left: 1px solid rgba(255, 255, 255, 0.743);
        border-right: 1px solid rgb(86, 86, 86);
        border-bottom: 1px solid rgb(76, 76, 76);

        border-radius: 2px;

        cursor: pointer;

        text-transform: uppercase;
        text-decoration: none;

        font-size: 1rem;
        font-weight: 500;

        box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.638);
        background-color: black;
        color: white;

        text-shadow: 1px 1px 1px rgb(36, 36, 36);
    }

    .btn-song:hover
    {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 1px 4px rgb(113, 112, 112);
        color: rgb(0, 0, 0);

        border-top: 1px solid rgba(0, 0, 0, 0.558);
        border-left: 1px solid rgba(0, 0, 0, 0.628);
        border-right: 1px solid rgb(0, 0, 0);
        border-bottom: 1px solid rgb(0, 0, 0);
    }

    .artist {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;

        padding-top: 30px;
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
    }

    .artist-text {
        font-size: 1.2rem;
        margin: 3px;
        font-family: "Roboto" , sans-serif ;
    }



   
</style>





<!-- BASE -->

{% extends "base.html" %}

{% block title %}
Songs
{% endblock title %}

{% block content %}

<ul class="main-container">
    {% for song in songs_list %}

    <li style="list-style: none;" class="song-container">

        <div class="image-sec">
        <img src="{{ song.album.images.0.url }}" alt="">
        </div>

        <div class="text-sec">
        <h3 class="song-name">Song : <a class="song-name" href = "{{song.uri}}">{{song.name}}</a></h3>
        <div class="button-song">
        <a class="btn-song" href="{{song.uri}}">PLAY<button type="button"></button></a>
        <a class="btn-song" href="{{song.preview_url}}">PREVIEW</a>
        </div>

        <div class="artist">
        <h4 class="artist-text">Artist : </h4>
        {% for artist in song.artists%}
            <h5 class="artist-text">{{artist.name}}</h5>
        {% endfor %}
        </div>
        </div>

    </li>
    {% endfor %}

</ul>
{% endblock content %}
